In [1]:
import pandas as pd
import os

In [2]:
schools_csv = os.path.join("Resources", "schools_complete.csv")
students_csv = os.path.join("Resources", "students_complete.csv")

In [3]:
schools = pd.read_csv(schools_csv)
students = pd.read_csv(students_csv)

In [4]:
df_merged_schools_students = pd.merge(schools, students, how="left", on=["school_name", "school_name"])

In [5]:
complete_student_count = len(df_merged_schools_students["student_name"])

In [6]:
complete_school_count = len(df_merged_schools_students["school_name"].unique())

In [7]:
complete_budget = df_merged_schools_students.groupby(["school_name"]).mean()["budget"].sum()

In [8]:
complete_average_math = float(df_merged_schools_students["math_score"].mean())

In [9]:
complete_average_reading = float(df_merged_schools_students["reading_score"].mean())

In [10]:
complete_passing_math_count = df_merged_schools_students[(df_merged_schools_students["math_score"] >= 70)].count()["student_name"]
complete_passing_math_rate = complete_passing_math_count / float(complete_student_count) * 100

In [11]:
complete_passing_reading_count = df_merged_schools_students[(df_merged_schools_students["reading_score"] >= 70)].count()["student_name"]
complete_passing_reading_rate = complete_passing_reading_count / float(complete_student_count) * 100

In [12]:
complete_passing_math_reading_count = df_merged_schools_students[
    (df_merged_schools_students["math_score"] >= 70) & (df_merged_schools_students["reading_score"] >= 70)
].count()["student_name"]
complete_passing_math_reading_rate = complete_passing_math_reading_count /  float(complete_student_count) * 100

In [13]:
df_complete_summary = pd.DataFrame({
    "Total Schools": [complete_school_count],
    "Total Students": [complete_student_count],
    "Total Budget": [complete_budget],
    "Average Math Score": [complete_average_math],
    "% Passing Math": [complete_passing_math_rate],
    "Average Reading Score": [complete_average_reading],
    "% Passing Reading": [complete_passing_reading_rate],
    "% Overall Passing": [complete_passing_math_reading_rate],
})

df_complete_summary["Total Students"] = df_complete_summary["Total Students"].map("{:,}".format)
df_complete_summary["Total Budget"] = df_complete_summary["Total Budget"].map("${:,.2f}".format)
df_complete_summary["% Passing Math"] = df_complete_summary["% Passing Math"].map("{:,.2f}%".format)
df_complete_summary["% Passing Reading"] = df_complete_summary["% Passing Reading"].map("{:,.2f}%".format)
df_complete_summary["% Overall Passing"] = df_complete_summary["% Overall Passing"].map("{:,.2f}%".format)
df_complete_summary["Average Math Score"] = df_complete_summary["Average Math Score"].map("{:,.2f}".format)
df_complete_summary["Average Reading Score"] = df_complete_summary["Average Reading Score"].map("{:,.2f}".format)

df_complete_summary

,Total Schools,Total Students,Total Budget,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,74.98%,81.88,85.81%,65.17%

In [14]:
school_type = schools.set_index(["school_name"])["type"]

In [15]:
per_school_count = schools.set_index(["school_name"])["size"]

In [16]:
per_school_budget = df_merged_schools_students.groupby(["school_name"]).mean()["budget"]

In [17]:
per_school_capita = per_school_budget / per_school_count

In [18]:
per_school_ave_math = df_merged_schools_students.groupby(["school_name"]).mean()["math_score"]

In [19]:
per_school_ave_reading = df_merged_schools_students.groupby(["school_name"]).mean()["reading_score"]

In [20]:
student_passing_math = (df_merged_schools_students[df_merged_schools_students["math_score"] >= 70])
per_school_passing_math = student_passing_math.groupby(["school_name"]).count()["student_name"]

In [21]:
student_passing_reading = (df_merged_schools_students[df_merged_schools_students["reading_score"] >= 70])
per_school_passing_reading = student_passing_reading.groupby(["school_name"]).count()["student_name"]

In [22]:
student_passing_math_reading = df_merged_schools_students[(df_merged_schools_students["math_score"] >= 70) & (df_merged_schools_students["reading_score"] >= 70)]
per_school_passing_math_reading = student_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [23]:
per_school_passing_math_rate = per_school_passing_math / per_school_count * 100
per_school_passing_reading_rate = per_school_passing_reading / per_school_count * 100
per_school_passing_math_reading_rate = per_school_passing_math_reading / per_school_count * 100

In [27]:
df_per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": per_school_count,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_ave_math,
    "% Passing Math": per_school_passing_math_rate,
    "Average Reading Score": per_school_ave_reading,
    "% Passing Reading": per_school_passing_reading_rate,
    "% Overall Passing": per_school_passing_math_reading_rate
})

df_per_school_summary["Total Students"] = df_per_school_summary["Total Students"].map("{:,.0f}".format)
df_per_school_summary["Total School Budget"] = df_per_school_summary["Total School Budget"].map("${:,.2f}".format)
df_per_school_summary["Per Student Budget"] = df_per_school_summary["Per Student Budget"].map("${:,.2f}".format)
df_per_school_summary["Average Math Score"] = df_per_school_summary["Average Math Score"].map("{:.2f}".format)
df_per_school_summary["Average Reading Score"] = df_per_school_summary["Average Reading Score"].map("{:.2f}".format)
df_per_school_summary["% Passing Math"] = df_per_school_summary["% Passing Math"].map("{:.2f}%".format)
df_per_school_summary["% Passing Reading"] = df_per_school_summary["% Passing Reading"].map("{:.2f}%".format)
df_per_school_summary["% Overall Passing"] = df_per_school_summary["% Overall Passing"].map("{:.2f}%".format)

df_per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,66.68%,81.03,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,94.13%,83.98,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,65.99%,81.16,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,68.31%,80.75,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,93.39%,83.82,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,66.75%,80.93,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,92.51%,83.81,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,65.68%,81.18,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,66.06%,80.97,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,94.59%,84.04,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,66.37%,80.74,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,93.87%,83.73,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,93.27%,83.85,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,93.87%,83.99,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,93.33%,83.95,96.61%,90.33%

In [36]:
top_5_passing = df_per_school_summary.sort_values("% Overall Passing", ascending=False)
top_5_passing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,94.13%,83.98,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,93.27%,83.85,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,93.39%,83.82,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,93.87%,83.99,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,94.59%,84.04,95.95%,90.54%

In [37]:
bottom_5_passing = df_per_school_summary.sort_values("% Overall Passing")
bottom_5_passing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,66.37%,80.74,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,65.99%,81.16,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,65.68%,81.18,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,66.75%,80.93,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,66.06%,80.97,81.22%,53.54%

In [58]:
ninth_graders = df_merged_schools_students[(df_merged_schools_students["grade"] == "9th")]
tenth_graders = df_merged_schools_students[(df_merged_schools_students["grade"] == "10th")]
eleventh_graders = df_merged_schools_students[(df_merged_schools_students["grade"] == "11th")]
twelfth_graders = df_merged_schools_students[(df_merged_schools_students["grade"] == "12th")]

In [57]:
ninth_graders_ave_math = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_ave_math = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_ave_math = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_ave_math = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [56]:
ninth_graders_ave_reading = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_ave_reading = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_ave_reading = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_ave_reading = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [62]:
math_score_ave_by_grade = pd.concat([
    ninth_graders_ave_math,
    tenth_graders_ave_math,
    eleventh_graders_ave_math,
    twelfth_graders_ave_math],
    axis=1)
math_score_ave_by_grade

                       math_score  math_score  math_score  math_score
school_name
Bailey High School      77.083676   76.996772   77.515588   76.492218
Cabrera High School     83.094697   83.154506   82.765560   83.277487
Figueroa High School    76.403037   76.539974   76.884344   77.151369
Ford High School        77.361345   77.672316   76.918058   76.179963
Griffin High School     82.044010   84.229064   83.842105   83.356164
Hernandez High School   77.438495   77.337408   77.136029   77.186567
Holden High School      83.787402   83.429825   85.000000   82.855422
Huang High School       77.027251   75.908735   76.446602   77.225641
Johnson High School     77.187857   76.691117   77.491653   76.863248
Pena High School        83.625455   83.372000   84.328125   84.121547
Rodriguez High School   76.859966   76.612500   76.395626   77.690748
Shelton High School     83.420755   82.917411   83.383495   83.778976
Thomas High School      83.590022   83.087886   83.498795   83.497041
Wilson High School      83.085578   83.724422   83.195326   83.035794
Wright High School      83.264706   84.010288   83.836782   83.644986

In [63]:
reading_score_ave_by_grade = pd.concat([
    ninth_graders_ave_reading,
    tenth_graders_ave_reading,
    eleventh_graders_ave_reading,
    twelfth_graders_ave_reading],
    axis=1)
reading_score_ave_by_grade

,reading_score,reading_score,reading_score,reading_score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [64]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]